<!DOCTYPE html>
<html lang="es">
    <head>
        {{>head}}
    </head>
    <body class="p-3 mw-100 row bg-light">
       {{>form}}
          
        {{> chat}}
            

            
                    
    </body>
</html>